.NewsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.NewsList--item {
    display: inline-block;
    margin: 1em;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;

    // &:not(:last-child) {
    //     margin-right: 10px;
    // }
}