@import '../../../assets/styles/variables.scss';

.Header {
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
    margin: 0 0 70px;
    padding: 44px 0;
}

.Header__title {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
    display: block;
    margin: 0 auto;
    max-width: $max-width;
}

@media screen and (max-width: $max-width) {
    .Header__title {
        padding: 0 $gutter-width;
    }
}